{{ if .Values.web.primaryDatabaseDeployment }}
{{ if .Values.web.primaryDatabaseDeployment.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "mastodon.labels" . | nindent 4 }}
    app: {{ include "mastodon.fullname" . }}-web
    version: {{ .Chart.AppVersion | quote }}
  {{- if .Values.web.annotations }}
    annotations:
      {{- toYaml .Values.web.annotations | nindent 4 }}
  {{- end }}
  name: {{ include "mastodon.fullname" . }}-web-primary-db
spec:
  replicas: {{ .Values.web.primaryDatabaseDeployment.replicaCount | default 1 }}
  selector:
    matchLabels:
      {{- include "mastodon.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: web-primary-db-only
  strategy:
    {{- toYaml .Values.web.strategy | nindent 4 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "mastodon.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: web-primary-db-only
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - command:
            - bundle
            - exec
            - puma
            - -C
            - config/puma.rb
          env:
            - name: PORT
              value: "3000"
            {{- if .Values.configuration.search.enabled }}
            - name: ES_PASS
              valueFrom:
                secretKeyRef:
                  key: {{ .Values.configuration.search.password.secretKeyRef.key }}
                  name: {{ .Values.configuration.search.password.secretKeyRef.name }}
            {{- end }}
          envFrom:
            - configMapRef:
                name: {{ include "mastodon.fullname" . }}-env
            - secretRef:
                name: {{ include "mastodon.fullname" . }}-secrets-env
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          name: web
          ports:
            - containerPort: 3000
              name: http
              protocol: TCP
          readinessProbe:
            {{- toYaml .Values.web.readinessProbe | nindent 12 }}
          startupProbe:
            {{- toYaml .Values.web.startupProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.web.primaryDatabaseDeployment.resources | default .Values.web.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
      restartPolicy: Always
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "mastodon.serviceAccountName" . }}
      terminationGracePeriodSeconds: 30
{{ end }}
{{ end }}
