apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://github.com/argoproj/argo-cd/manifests/cluster-install?ref=v2.7.2
  - ingress/argocd-server-http-ingress.yaml
  - projects/mastodon.yaml
  - projects/infrastructure.yaml
  - projects/monitoring.yaml
  - applications/kube-prometheus-stack.yaml
  - applications/prometheus-operator-crds.yaml
  - applications/monitoring-manifests.yaml
  - applications/ingress-nginx.yaml
  - applications/keda.yaml
  - applications/kube-state-metrics.yaml
  - applications/tootcommunity.yaml
  - applications/metrics-server.yaml
  - applications/prometheus-statsd-exporter.yaml
  - applications/argocd.yaml
  - applications/redis.yaml
  - applications/velero.yaml
  - applications/relay.yaml
  - applications/backup-policy.yaml
  - applications/tootcommunity-db.yaml
  - applications/cnpg.yaml
  - applications/loki.yaml
  - applications/promtail.yaml
  - applications/cert-manager.yaml
  - applications/cluster-issuers.yaml

  # this line below is enabled because toot.community uses 1Password to provision secrets to the Kubernetes cluster,
  # it's fine if you don't, but then remove this line & the corresponding file.
  - configuration/1p-secrets.yaml

  # add monitoring to ArgoCD
  - monitoring/servicemonitors.yaml
  - monitoring/dashboard.yaml

patchesStrategicMerge:
  - configuration/configmap-cm.yaml
  - configuration/configmap-rbac-cm.yaml
  - configuration/configmap-cmd-params.yaml
  - configuration/service-argocd-applicationset-controller.yaml
  - configuration/service-argocd-dex-server.yaml
  - configuration/service-argocd-metrics.yaml
  - configuration/service-argocd-notifications-controller-metrics.yaml
  - configuration/service-argocd-repo-server.yaml
  - configuration/service-argocd-server-metrics.yaml
